*
{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    font-family:"Poppins", sans-serif;
    background-color: #F9FAFB;
}

h1{
    font-weight: 600;
    font-size: 3rem;
    margin-bottom:.3em;
}

h2{
    font-weight: 400;
    font-size:1.25rem;
    margin: 0 auto 3em;
    color:#6C727F;
}

form input{
    font-weight:500;
    font-size: 1rem;
    background-color:#f2f2f3;
    border:1px solid #E5E7EB;
    color:#394150;
    
}

form input::placeholder{
    color:#394150;
}

form button{
    font-weight:600;
    font-size: 1rem;
    background-color: #284BCE;
    border:#284BCE;
    color:#FFFFFF;
}

form button:hover{
    background-color: #1E3BB8;
    cursor: pointer;
}

p{
    font-size: 0.875rem;
    font-weight: 400;
}

.container{
    text-align: center;
    margin:128px;
}

form{
    box-shadow: 0px 20px 30px 0px rgba(0, 0, 0, 0.03), 0px 8px 12px 0px rgba(0, 0, 0, 0.08);
    display:inline-block;
    padding: 1rem;
    border-radius:16px;
    border:1px solid #F9FAFB;
    width:35%;
}

form input, form button{
    padding:1em;
    width:100%;
    border-radius:8px;
    margin: 0 0 1.5em 0;
    display: block;
    text-align: center;
}

@media (max-width: 1280px) {
    form{
        width:60%;
    }
}

@media (max-width: 1024px) {
    .container{
        margin:64px;
    }

    form{
        width: 75%;
    }
}

@media (max-width: 640px) {
    .container{
        margin:32px;
    }

    form{
        width: 100%;
    }
}